<app-dropdown-menu [open]="open()" (onClose)="toggleDropdown(false)">
    <app-button dropdownTrigger variant="secondary" [buttonClass]="'flex flex-row items-center justify-between w-full'"
        (clicked)="toggleDropdown()">
        <p>Move To</p>
        <lucide-icon [img]="ChevronDown" [size]="20" [ngClass]="[
            'transition-all duration-200',
            open() ? 'rotate-180' : 'rotate-0'
        ]"></lucide-icon>
    </app-button>
    <div dropdownContent class="flex flex-col w-3xs">
        <app-button variant="ghost" [buttonClass]="'w-full !rounded-none'">
            To Do
        </app-button>
        <app-button variant="ghost" [buttonClass]="'w-full !rounded-none'">
            Done
        </app-button>
    </div>
</app-dropdown-menu>