<div class="flex flex-row w-full max-w-7xl justify-between items-center">
    <h1 class="font-semibold text-2xl">{{boardTitle$ | async}}</h1>
    <div class="flex flex-row gap-4">
        <!-- <app-invite-code-card></app-invite-code-card> -->
        <app-button variant="outline" [buttonClass]="'flex flex-row gap-2 justify-center'">
            <lucide-icon [img]="History" [size]="20" class="mt-0.5"></lucide-icon>
            <p>History</p>
        </app-button>
    </div>
</div>

<div class="flex flex-row gap-4 w-full h-full max-w-7xl overflow-auto">
    @for (item of (boardColumns$ | async); track item.id) {
    <app-task-list [column]="item"></app-task-list>
    }
    @if (!(isLoading$ | async)) {
    <app-add-list-card [boardId]="boardId"></app-add-list-card>
    }
</div>