<div class="flex flex-col w-full h-full items-center gap-10">
    
    <div class="flex flex-row w-full max-w-7xl justify-between items-center">
        <h1 class="font-semibold text-2xl">{{boardTitle$ | async}}</h1>
        <div class="flex flex-row gap-4">
            <app-invite-code-card></app-invite-code-card>
            <app-history-actions [boardId]="boardId"></app-history-actions>
        </div>
    </div>

    <div class="flex-1 flex-row min-w-7xl max-w-8xl">
        <div class="flex flex-row w-full h-full gap-4 overflow-x-auto overflow-y-hidden" cdkScrollable>
            <div class="flex flex-row gap-4 h-full" cdkDropListGroup cdkDropList (cdkDropListDropped)="onColumnDrop($event)">
                @for (item of (boardColumns$ | async); track item.id) {
                <div class="w-2xs h-full" cdkDrag [cdkDragData]="item">
                    <app-task-list [column]="item"></app-task-list>
                </div>
                }
            </div>
            @if (!(isLoading$ | async)) {
            <app-add-list-card [boardId]="boardId"></app-add-list-card>
            }
        </div>
    </div>
</div>