<div class="flex flex-row w-full justify-between items-center">
    @if (isEditColumn()) {
    <app-list-title-input [column]="column" [isLoading]="(isLoading$ | async) ?? false"
        (toggleShowInput)="toggleColumnEdit($event)" class="w-full"></app-list-title-input>
    }
    @else {
    <h2 class="text-nowrap truncate">{{column.title}}</h2>
    <div class="flex flex-row items-center gap-2">
        <p>{{column.tasks?.length}}</p>
        <app-dropdown-menu [open]="openDropdown()" (onClose)="toggleDropdown(false)">
            <app-button dropdownTrigger variant="ghost" [buttonClass]="'!p-2 !rounded-full mt-0.5'"
                (clicked)="toggleDropdown()">
                <lucide-icon [img]="EllipsisVertical" [size]="20"></lucide-icon>
            </app-button>
            <div dropdownContent class="flex flex-col" (click)="toggleDropdown(false)">
                <app-button variant="ghost" [buttonClass]="'flex-row items-center gap-2 w-full !rounded-none'"
                    (clicked)="toggleColumnEdit(true)">
                    <lucide-icon [img]="Pencil" [size]="20"></lucide-icon>
                    <p>Edit</p>
                </app-button>
                <app-remove-column [column]="column"></app-remove-column>
            </div>
        </app-dropdown-menu>
    </div>
    }
</div>