<form [formGroup]="joinBoardForm" class="flex flex-col gap-4 w-full">
    <h2 class="font-semibold text-lg">Join Existing Board</h2>
    <div class="flex flex-col gap-1">
        <app-input class="w-full" placeholder="Invite code" [value]="joinBoardForm.get('inviteCode')?.value"
            [disabled]="(isLoading$ | async) ?? false" (onValueChange)="onInviteCodeChange($event)"></app-input>
        @if (joinBoardForm.touched && joinBoardForm.get('inviteCode')?.hasError('required')) {
        <small class="text-destructive">
            invite code is required
        </small>
        }
    </div>
    <app-button class="w-full" [class]="'justify-center'" (clicked)="onJoinSubmit()"
        [disabled]="(isLoading$ | async) ?? false">
        @if (isLoading$ | async) {
        <lucide-icon [img]="LoaderCircle" [size]="20" class="animate-spin"></lucide-icon>
        }
        @else {
        Join
        }
    </app-button>
</form>