<button [ngClass]="[
    'flex py-2 px-6 rounded-md transition-all duration-300 disabled:opacity-50 disabled:pointer-events-none',
    variant == 'primary' ? 'bg-primary text-white stroke-white hover:bg-primary/80' : '',
    variant == 'secondary' ? 'bg-secondary/60 text-font-primary stroke-font-primary hover:bg-secondary' : '',
    variant == 'outline' ? 'bg-transparent border text-font-primary stroke-font-primary border-primary hover:bg-primary/10' : '',
    variant == 'ghost' ? 'bg-transparent text-font-primary stroke-font-primary hover:bg-primary/20' : '',
    variant == 'link' ? 'bg-transparent text-font-primary stroke-font-primary hover:underline-offset-4 hover:underline' : '',
    variant == 'destruction' ? 'bg-destructive text-white stroke-white hover:bg-destructive/80' : '',
    class
]" [disabled]="disabled" (click)="onClick()">
    <ng-content></ng-content>
</button>