@for (item of task.taskActivityLogs; track item.id) {
<div class="flex flex-row gap-2 w-full">
    <lucide-icon [img]="Dot" [size]="32" class="stroke-primary"></lucide-icon>
    <div class="flex flex-col w-full">
        <p class="text-start text-gray-700 log-history" [innerHTML]="parseSlackMarkdown(item.log ?? '')"></p>
        <p class="text-primary/70 italic">{{item.createdAt | date:'MMM d'}} at {{item.createdAt | date: 'HH:mm'}}
        </p>
    </div>
</div>
}
@if (task.taskActivityLogs?.length == 0) {
<div class="flex items-center justify-center h-24">
    <p>No activity yet</p>
</div>
}