<div (click)="focusInput()" [ngClass]="{
    'rounded-xl transition-all duration-100': true,
}">
    <app-card
        [class]="'py-2.5 px-2.5 flex-row gap-1 w-full focus-within:border-primary transition-all duration-200 cursor-text'">
        <ng-content select="[startIcon]"></ng-content>
        <input #inputElement [name]="name" [id]="id" [placeholder]="placeholder" [type]="type" [value]="value"
            [disabled]="disabled" (input)="onChange($event)"
            class="focus-visible:outline-none text-sm flex-1 placeholder:text-primary" />
        <ng-content select="[endIcon]"></ng-content>
    </app-card>
</div>