<div class="flex flex-col w-screen h-screen items-center justify-center">
    <app-card [class]="'flex flex-col gap-6 items-center justify-start p-4 w-96'">
        <h1 class="font-semibold text-lg">Sign in</h1>
        <form [formGroup]="registerForm" class="flex flex-col gap-6 w-full">
            <div class="flex flex-col gap-1">
                <app-input id="username" placeholder="username" type="text"
                    [value]="registerForm.get('username')?.value" [disabled]="(isLoading$ | async) ?? false"
                    (onValueChange)="onUsernameChange($event)"></app-input>
                @if (registerForm.get('username')?.touched) {

                @if (getFieldError('username', 'required')) {
                <small class="text-destructive">
                    username is required
                </small>
                }
                @else if (getFieldError('username', 'minlength')) {
                <small class="text-destructive">
                    username must be at least {{ getFieldError('username', 'minlength').requiredLength }}
                    characters long.
                </small>
                }

                }
            </div>

            <div class="flex flex-col gap-1">
                <app-input id="password" placeholder="********" [type]="isPasswordVisible() ? 'text' : 'password'"
                    [disabled]="(isLoading$ | async) ?? false" [value]="registerForm.get('password')?.value"
                    (onValueChange)="onPasswordChange($event)">
                    <div endIcon (click)="togglePasswordVisibility()">
                        <lucide-icon [img]="isPasswordVisible() ? Eye : EyeOff" [size]="20"
                            class="stroke-primary cursor-auto"></lucide-icon>
                    </div>
                </app-input>
                @if (registerForm.get('password')?.touched) {
                @if (getFieldError('password', 'required')){
                <small class="text-destructive">
                    password is required
                </small>
                }
                @else if (getFieldError('password', 'minlength')) {
                <small class="text-destructive">
                    password must be at least {{ getFieldError('password', 'minlength')?.requiredLength }}
                    characters long.
                </small>
                }
                }
            </div>

            <div class="flex flex-col gap-1">
                <app-input id="repeatPassword" placeholder="********"
                    [type]="isRepeatPasswordVisible() ? 'text' : 'password'" [disabled]="(isLoading$ | async) ?? false"
                    [value]="registerForm.get('repeatPassword')?.value"
                    (onValueChange)="onRepeatPasswordChange($event)">
                    <div endIcon (click)="toggleRepeatPasswordVisibility()">
                        <lucide-icon [img]="isRepeatPasswordVisible() ? Eye : EyeOff" [size]="20"
                            class="stroke-primary cursor-auto"></lucide-icon>
                    </div>
                </app-input>
                @if (registerForm.get('repeatPassword')?.touched) {
                @if (getFieldError('repeatPassword', 'required')){
                <small class="text-destructive">
                    repeat password is required
                </small>
                }
                @else if (getFieldError('repeatPassword', 'minlength')) {
                <small class="text-destructive">
                    repeat password must be at least {{ getFieldError('password', 'minlength')?.requiredLength }}
                    characters long.
                </small>
                }
                }
                @if (registerForm.errors?.['passwordsMismatch'] && registerForm.touched) {
                <small class="text-destructive">
                    passwords do not match
                </small>
                }
            </div>

            <p class="text-destructive text-sm" *ngIf="(error$ | async) as error">
                {{error}}
            </p>

            <app-button [class]="'flex items-center justify-center w-full'" (clicked)="onSubmit()"
                [disabled]="(isLoading$ | async) ?? false">
                @if (isLoading$ | async) {
                <lucide-icon [img]="LoaderCircle" [size]="24" class="animate-spin"></lucide-icon>
                }
                @else {
                Sign up
                }
            </app-button>
        </form>
        <div class="flex flex-row gap-2">
            <span>Already have an account?</span>
            <app-button variant="link" [class]="'!p-0'" routerLink="/signin">
                Sign in
            </app-button>
        </div>
    </app-card>
</div>