<div class="w-full h-16 bg-primary rounded-t-lg"></div>
<div class="flex flex-col w-full gap-6 p-8">
    <input type="text" class="focus-visible:outline-none font-bold text-xl w-60" [value]="taskTitle()"
        (input)="onTaskTitleChange($event)" />

    <div #selectComponents class="grid grid-cols-2 grid-rows-3 items-start gap-2 w-1/2">
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon [img]="List" class="stroke-primary"></lucide-icon>
            <p class="text-primary">List</p>
        </div>
        <app-select [items]="(columnsToSelectEntity() | async) ?? []" [value]="selectedColumn()" [selectClass]="'!w-40'"
            (onSelected)="onColumnSelect($event)"></app-select>

        <div class="flex flex-row gap-2 items-center">
            <lucide-icon [img]="Calendar" class="stroke-primary"></lucide-icon>
            <p class="text-primary">Due Date</p>
        </div>
        <p-datepicker [minDate]="getCurrentDate()" [(ngModel)]="date" class="w-40 bg-white" inputStyleClass="!w-40"
            panelStyleClass="!bg-white !text-black"></p-datepicker>

        <div class="flex flex-row gap-2 items-center">
            <lucide-icon [img]="Tag" class="stroke-primary"></lucide-icon>
            <p class="text-primary">Priority</p>
        </div>
        <app-select [items]="priorityOptions" [value]="selectedPriority()" title="Select priority"
            [selectClass]="'!w-40'" (onSelected)="onPrioritySelect($event)"></app-select>
    </div>

    <div class="flex flex-col w-full gap-2">
        <h2 class="font-semibold">Description</h2>
        <textarea [value]="taskDescription()" (input)="onTaskDescriptionChange($event)"
            class="resize-none w-full h-20 focus-visible:outline-primary rounded-md outline outline-secondary transition-all duration-200 p-2"></textarea>
    </div>
</div>