<app-dialog-layout [cardClass]="'!p-0 !border-none'" [closeButtonClass]="'stroke-white'">
    <div class="flex flex-col w-2xl">
        <div class="w-full h-16 bg-primary rounded-t-lg"></div>
        <div class="flex flex-col w-full gap-6 p-8">
            <input type="text" class="focus-visible:outline-none font-bold text-2xl w-60" [value]="taskTitle()"
                (input)="onTaskTitleChange($event)" />

            <div class="flex flex-col items-start gap-2 w-1/2">
                <app-task-list-select class="grid grid-cols-2 w-full" [value]="selectedList()"
                    (onSelect)="onListSelect($event)"></app-task-list-select>

                <app-task-date-select class="grid grid-cols-2 w-full" [value]="selectedDate()"
                    (onSelect)="onDateSelect($event)"></app-task-date-select>

                <app-task-priority-select class="grid grid-cols-2 w-full" [value]="selectedPriority()"
                    (onSelect)="onPrioritySelect($event)"></app-task-priority-select>
            </div>

            <app-task-description-input [value]="taskDescription()"
                (onInput)="onTaskDescriptionChange($event)"></app-task-description-input>

            <div class="flex flex-row w-full gap-2">
                <app-button class="w-full" buttonClass="w-full justify-center" [disabled]="getIsLoading() | async"
                    (clicked)="onSave()">
                    @if (getIsLoading() | async) {
                    <lucide-icon [img]="LoaderCircle" [size]="20" class="animate-spin"></lucide-icon>
                    }
                    @else {
                    Save
                    }
                </app-button>
                <app-button class="w-full" variant="secondary" buttonClass="w-full justify-center"
                    [disabled]="getIsLoading() | async" (clicked)="closeDialog()">
                    Cancel
                </app-button>
            </div>
        </div>
    </div>
</app-dialog-layout>